/*Class Styles*/

.body {
    background-color: white;
    background-image: url("Images/Background.jpg");
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    max-height: 100%;
}

.page {
    background-color: black;
    max-width: 75vw;
    min-width: 350px;
    margin: auto;
    padding: 40px;
}

.pageTitle {
    /*color: #990000;*/
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 6em;
}

.title {
    /*color: #990000;*/
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4em;
    border-bottom: .1em solid;
    border-bottom-color: white;
    padding-top: 50px;
}

.stdTxt {
    /*color: silver;*/
    color: white;
    font-family: 'Underdog', cursive;
    font-size: 1.5em;
    text-align: center;
}

.linkBar {
    /*color: #990000;*/
    color: white;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 3em;
}

.col-lg {
    text-align: center;
    padding: 20px;
}

.btnStyle {
    border: none;
    background: none;
    color: white;
}

/*ID Styles*/

#home {
    text-align: center;
    padding-bottom: 150px;
}

#homePic {
    height: auto;
    width: 500px;
    padding-top: 50px
}

#aboutTxt, #servicesTxt, #contactAddress {
    padding-top: 50px;
}

#serviceList {
    list-style-position: inside;
    list-style-type: circle;
}

#busLocation {
    max-width: 750px;
    margin: auto;  
}

#locationOfShop {
    height: 250px;
    width: 400px;
}