.body {
    background-color: #151515;
    min-height: 100vh;
    max-height: 100%;
}

.page {
    max-width: 80vw;
    margin-left: 10vw;
}

.pageTitle {
    color: #990000;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 6em;
}

.title {
    color: #990000;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4em;
    border-bottom: .1em solid;
    border-bottom-color: linear-gradient(90deg, rgba(21,21,21,1) 0%, rgba(153,0,0,1) 50%, rgba(21,21,21,1) 100%);
    padding-top: 50px;
}

.silverTxt {
    color: silver;
    font-family: 'Underdog', cursive;
    font-size: 1.5em;
    text-align: center;
}

.linkBar {
    color: #990000;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 3em;
}

.fa-facebook-square, .fa-envelope-open-text, .fa-phone-volume {
    border: none;
    background: none;
    color: #990000;
}

#home {
    text-align: center;
    padding-bottom: 150px;
}

#homePic {
    height: auto;
    width: 500px;
    padding-top: 50px
}

#aboutTxt, #servicesTxt, #contactAddress {
    padding-top: 50px;
}

.col-lg {
    padding: 20px;
}

#map {
    text-align: center;
}