.body {
    /*background-color: #151515;*/
    background-color: white;
    background-image: url("Images/Background.jpg");
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    max-height: 100%;
}

.page {
    background-color: black;
    max-width: 75vw;
    margin-left: 12.5vw;
}

.pageTitle {
    /*color: #990000;*/
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 6em;
}

.title {
    /*color: #990000;*/
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4em;
    border-bottom: .1em solid;
    border-bottom-color: white;
    padding-top: 50px;
}

.silverTxt {
    /*color: silver;*/
    color: white;
    font-family: 'Underdog', cursive;
    font-size: 1.5em;
    text-align: center;
}

.linkBar {
    /*color: #990000;*/
    color: white;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 3em;
}

.fa-facebook-square, .fa-envelope-open-text, .fa-phone-volume {
    border: none;
    background: none;
    /*color: #990000;*/
    color: white;
}

#home {
    text-align: center;
    padding-bottom: 150px;
}

#homePic {
    height: auto;
    width: 500px;
    padding-top: 50px
}

#aboutTxt, #servicesTxt, #contactAddress {
    padding-top: 50px;
}

.col-lg {
    padding: 20px;
}

#map {
    text-align: center;
}